<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>文件管理</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
 
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" style='margin-top: 40px;'>
	 <div class="col-md-6 column col-lg-5">
	<form role="form" method="post">
		<div class="panel-body">
			<div class="input-group input-group-lg">
  				<span class="input-group-addon" id="sizing-addon1">上传地址</span>
  				<input type="text" class="form-control">
			</div>
	  	</div>
	  	<div class="panel-body">
	 		<div class="input-group input-group-lg"> 
		  		<span class="input-group-addon">保存路径</span>
	    		<input type="url" class="form-control">
	    	</div>
 		  </div>
		<div class="input-group input-group-lg">
  			<input type="file" class="form-control">
		</div><br>
			<button type="submit" class="btn btn-primary btn-lg btn-block" > 上 传 </button>
		</form>
		</div>
	<div class="col-md-6 column"><br><br>
	<form role="form" method="get">
		<div class="panel-body">
		<div class="input-group input-group-lg">
  				<span class="input-group-addon">下载地址</span>
  				<input type="url" class="form-control">
			</div>
	  	</div>
	  	<div class="panel-body">
	 		<div class="input-group input-group-lg"> 
		  		<span class="input-group-addon">下载内容</span>
	    		<input type="url" class="form-control">
	    	</div>
 		  </div>
			<button type="submit"  href="#" class="btn btn-primary btn-lg btn-block"> 下 载 </button>
	  </form>
	  </div>
	</div>
</div>
</body>
</html>
